#!/usr/bin/env python

PACKAGE = "jetracer"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("laserAngle", int_t, 0, "laserAngle", 180, 10, 360)
gen.add("distance", double_t, 0, "distance", 12, 0.1, 12)

exit(gen.generate(PACKAGE, "jetracer", "laserFilter"))
